<template name="saveToday">
    <div class="container">
    <div class="row">
      <div class="col-sm-12">
        Mamma, you are to save Ghs {{amountToday}} for my birth today
        <input type='number' value='{{amountToday}}' id='amount'>
        <br>
        {{#autoForm id="saveToday" collection="Payments" type="insert"}}
                      {{> afQuickField name="amount" value=amountToday}}
                      {{> afQuickField name="setupId" type='hidden' value=pikin}}
                      <button type="submit" id="saveToVCash" class="">Proceed to payment plan</button>
                  {{/autoForm}}
        <!-- TOdo: a toast saying thank you mamma -->
      </div>
    </div>

  </div>
<div class="col-md-3 col-md-offset-3">
  <button class="btn btn-lg btn-success sendSMS">send me sms with code</button>
</div>
</template>
