

<template name="about">
   <div role="main" class="ui-content">
    
       <div class="pages_maincontent">
              <h2 class="page_title">about</h2> 
              <div class="page_content"> 
              
              <blockquote>
              Biotic is a creative mobile and tablet template that will help you creating an <a href="#">amazing mobile website</a> or a web/native app.
              </blockquote>
              
              <img src="images/page_photo.jpg" alt="" title="" />
              
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
              </p>
              
              <h3>Top features</h3>   
              <ul class="features_list">
                  <li><a href="photos.html" data-transition="slidefade"><img src="images/icons/black/photos.png" alt="" title="" /><span>Photo gallery</span></a></li>
                  <li><a href="blog.html" data-transition="slidefade"><img src="images/icons/black/blog.png" alt="" title="" /><span>Blog layout</span></a></li>
                  <li><a href="videos.html" data-transition="slidefade"><img src="images/icons/black/video.png" alt="" title="" /><span>Videos section</span></a></li>
                  <li><a href="tabs.html" data-transition="slidefade"><img src="images/icons/black/toggle.png" alt="" title="" /><span>Tabs &amp; Toggles</span></a></li>
                  <li><a href="login.html" data-transition="slidedown"><img src="images/icons/black/lock.png" alt="" title="" /><span>User forms</span></a></li>
                  <li><a href="contact.html" data-transition="slidefade"><img src="images/icons/black/contact.png" alt="" title="" /><span>Contact page</span></a></li>
                  <li><a href="social.html" data-transition="slidedown"><img src="images/icons/black/heart.png" alt="" title="" /><span>Social share</span></a></li>
                  <li><a href="#right-panel"><img src="images/icons/black/docs.png" alt="" title="" /><span>Right slide panel</span></a></li>
              </ul>
              
              <a href="features.html" data-transition="slidefade" class="button_full">View all features</a>

              <h3>You can use this template for:</h3>
              <ul class="simple_list">
              <li>Creating a mobile website</li>
              <li>Creating a mobile web app</li>
              <li>Creating a mobile native app (integrated with solutions like phonegap)</li>
              </ul>

              </div>
       </div>

    </div><!-- /content -->
</template>