<template name="confirmTransactionModal">
  <!-- Modal -->
  <div class = "modal fade" id = "confirm-transaction-modal" tabindex = "-1" role = "dialog"
  aria-labelledby = "myModalLabel" aria-hidden = "true">

  <div class = "modal-dialog">
    <div class = "modal-content">

     <div class = "modal-header">
      <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">
        &times;
      </button>

      <h4 class = "modal-title" id = "myModalLabel">
       Confirm Transaction:
       please check your messages for verification code.
       Fill the form with the verificaion code
     </h4>
   </div>

   <div class = "modal-body">

    <input type="text" class="form-control" name="validate-optional" id="validate-optional" placeholder="your transaction verification code">

    <input type="text" class="form-control" name="validate-optional" id="validate-optional" placeholder="Confirm Amount">
  </div>

  <div class = "modal-footer">
    <button type = "button" class = "btn btn-default" data-dismiss = "modal">
     Close
   </button>

   <button type = "button" id="confirmationModal" class = "btn btn-primary">
     Send
   </button>
 </div>

</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

</div><!-- /.modal -->
</template>
